<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.lanyonm.grabbag.persistence.RecipeMapper">

	<cache />

	<sql id="recipeDomainSql">
		SELECT
			r.ID as RECIPE_ID,
			r.NAME as RECIPE_NAME,
			r.DESCRIPTION as RECIPE_DESCRIPTION,
			i.id as INGREDIENT_ID,
			i.name as INGREDIENT_NAME,
			i.description as INGREDIENT_DESCRIPTION,
			ri.volume as INGREDIENT_VOLUME
		FROM RECIPES r
			left outer join RECIPE_INGREDIENTS ri on ri.RECIPE_ID = r.ID
			left outer join INGREDIENTS i on i.ID = ri.INGREDIENT_ID
	</sql>

	<resultMap id="recpieResultMap" type="Recipe">
		<id property="id" column="RECIPE_ID" />
		<result property="name" column="RECIPE_NAME" />
		<result property="description" column="RECIPE_DESCRIPTION" />
		<collection property="ingredients" ofType="RecipeIngredient">
			<id property="id" column="INGREDIENT_ID" />
			<result property="name" column="INGREDIENT_NAME" />
			<result property="description" column="INGREDIENT_DESCRIPTION" />
			<result property="volume" column="INGREDIENT_VOLUME" />
		</collection>
	</resultMap>

	<select id="getAllRecipes" resultMap="recpieResultMap">
		<include refid="recipeDomainSql"/>
	</select>

	<select id="getRecipe" resultMap="recpieResultMap" parameterType="int">
		<include refid="recipeDomainSql"/>
		WHERE
			r.id = #{id}
	</select>

	<select id="getRecipeWithIngredient" resultMap="recpieResultMap" parameterType="Ingredient">
		<include refid="recipeDomainSql"/>
		WHERE
			i.id = #{id}
	</select>

	<update id="updateRecipe" parameterType="Recipe">
		UPDATE RECIPES SET
			NAME = #{name},
			DESCRIPTION = #{description}
		WHERE ID = #{id}
	</update>

	<update id="updateRecipeIngredient" parameterType="HashMap">
		UPDATE RECIPE_INGREDIENTS SET
			VALUME = ${volume}
		WHERE recipeId = ${recipeId} AND ingredientId = ${ingredientId}
	</update>

	<insert id="insertRecipe" parameterType="Recipe" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO RECIPES (NAME, DESCRIPTION)
		VALUES (#{name}, #{description})
	</insert>

	<insert id="insertRecipeIngredient" parameterType="HashMap">
		INSERT INTO RECIPE_INGREDIENTS (RECIPE_ID, INGREDIENT_ID, VOLUME)
		VALUES (#{recipeId}, #{ingredientId}, #{volume})
	</insert>

	<delete id="deleteRecipe" parameterType="Recipe">
		DELETE FROM RECIPES WHERE id = #{id}
	</delete>

	<delete id="deleteRecipeIngredient" parameterType="HashMap">
		DELETE FROM RECIPE_INGREDIENTS
		WHERE
			recipeId = ${recipeId} AND
			ingredientId = ${ingredientId}
	</delete>

</mapper>